/* App.module.css */
.App {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 20px;
  background: linear-gradient(to bottom, #1a1a1a, #000000); /* Alterado para combinar com o tema */
  color: white;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1 {
  font-size: 2em;
  margin: 20px 0;
  text-align: center;
}

.btnsPrimary {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
}

.btnsPrimary button {
  padding: 10px 20px;
  background-color: #4e4be0; 
  color: white;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.btnsPrimary button:hover {
  background-color: #4a0e81;
  box-shadow: 0 0 10px #ab3ee6; 
}

@media (max-width: 768px) {
  .btnsPrimary {
    flex-direction: column;
    align-items: center;
  }

  .btnsPrimary button {
    width: 100%;
    margin-bottom: 10px;
  }
}

@media (max-width: 480px) {
  h1 {
    font-size: 1.5em;
  }

  .btnsPrimary button {
    width: 90%;
  }
}
