body {
  font-family: Arial, sans-serif;
  background-color: #f7f9fc;
  margin: 0;
  padding: 0;
}c4632c
.container button {
  background-color: #c9370b; 
  color: white;
  padding: 12px 20px;
  border: none;
  cursor: pointer;
  border-radius: 4px;
  font-size: 16px;
  margin-top: 20px; 
}

.container button:hover {
  background-color: #c4632c; 
}
h1 {
  text-align: center;
  margin-bottom: 20px;
  color: #2c3e50; 
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0; /
}

li {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #ddd;
  padding: 15px 10px; 
  background-color: #fafafa; 
}

li img {
  margin-right: 15px;
  border-radius: 4px;
  width: 60px; 
  height: auto; 
}

li h2 {
  font-size: 16px;
  margin: 0;
  color: #2c3e50; 
}

li p {
  margin: 0;
  color: #555; 
}

li button {
  background-color: #27ae60; 
  color: white;
  padding: 8px 15px;
  border: none;
  cursor: pointer;
  border-radius: 4px;
  font-size: 14px;
}

li button:hover {
  background-color: #219150;
}

.total {
  margin-top: 20px;
  font-size: 18px;
  text-align: right;
  color: #e67e22; 
}

button {
  background-color: #3498db; 
  color: white;
  padding: 12px 20px;
  border: none;
  cursor: pointer;
  border-radius: 4px;
  font-size: 16px;
  margin-top: 20px; 
}

button:hover {
  background-color: #2980b9; 
}

.error {
  color: #e74c3c; 
  margin-top: 10px;
}

.loading {
  text-align: center;
  margin-top: 20px;
}

.back-link {
  text-align: center;
  margin-top: 20px;
}

.back-link button {
  background-color: #3498db; 
  padding: 10px 20px;
}

.back-link button:hover {
  background-color: #2980b9; 
}

ul, li {
  padding-left: 0; 
  padding-right: 0; 
}

p {
  margin: 10px 0;
}


.login-form {
  width: 300px;
  margin: 0 auto;
  padding: 20px;
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.login-form h2 {
  text-align: center;
  color: #333333;
}

.input-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.input-container label {
  color: #555555;
  font-size: 14px;
  margin-bottom: 5px;
}

.input-container input {
  width: 100%;
  padding: 10px;
  border: 1px solid #cccccc;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  outline: none;
  transition: border-color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.input-container input:focus {
  border-color: #573b8a;
  box-shadow: 0 0 5px rgba(87, 59, 138, 0.5);
}

.error {
  color: #ff0000;
  font-size: 14px;
  margin-top: 5px;
}

.btn-primary {
  background-color: #573b8a;
  color: #ffffff;
  border: none;
  border-radius: 5px;
  padding: 10px 15px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}

.btn-primary:hover {
  background-color: #6d44b8;
}
