/* LoginForm.module.css */

.login-form {
    width: 300px;
    margin: 0 auto;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .login-form h2 {
    text-align: center;
    color: #333333;
  }
  
  .input-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  
  .input-container label {
    color: #555555;
    font-size: 14px;
    margin-bottom: 5px;
  }
  
  .input-container input {
    width: 100%;
    padding: 10px;
    border: 1px solid #cccccc;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    outline: none;
    transition: border-color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
  }
  
  .input-container input:focus {
    border-color: #573b8a;
    box-shadow: 0 0 5px rgba(87, 59, 138, 0.5);
  }
  
  .error {
    color: #ff0000;
    font-size: 14px;
    margin-top: 5px;
  }
  
  .btn-primary {
    background-color: #573b8a;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    padding: 10px 15px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
  }
  
  .btn-primary:hover {
    background-color: #6d44b8;
  }
  