.cardContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}

.card {
  border: 1px solid #ccc;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  margin: 10px;
  width: 100%;
  max-width: 300px; /* Ajuste conforme necessário */
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card img {
  width: 100%;
  height: auto;
  object-fit: cover; /* Ajuste para 'contain' se preferir */
}

.card-content {
  padding: 10px;
}

.card:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3); 
}

.cardBody {
  padding: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.cardTitle,
.cardText {
  margin: 10px 0;
  text-align: center;
  color: #f0f0f0;
  font-size: large;
}

.cardButton {
  margin-top: 10px;
  background-color: #ff8c00; 
  color: white; 
  border: none;
  padding: 10px 20px;
  border-radius: 5px; 
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.cardButton:hover {
  background-color: #e67e22;
  box-shadow: 0 0 10px #ab3ee6;
}

@media (max-width: 768px) {
  .card {
    width: 90%;
  }
}

@media (max-width: 480px) {
  .card img {
    height: 150px;
  }

  .cardTitle,
  .cardText {
    font-size: medium; 
  }

  .cardButton {
    width: 100%; 
    padding: 12px 0;
  }
}
